{{define "toolbar"}}
<div class="buttons mb-3">
  {{range .Buttons}}
    {{template "toolbar_button" .}}
  {{end}}
</div>
{{end}}

{{define "toolbar_actions"}}
<div class="buttons">
  {{range .Buttons}}
    {{template "toolbar_button" .}}
  {{end}}
</div>
{{end}}

{{define "toolbar_button"}}
<a href="{{.URL}}" class="{{.Class}}">
  <span class="icon">{{icon .Icon}}</span>
  <span>{{.Text}}</span>
</a>
{{end}}

{{define "toolbar_search_inline"}}
<form class="toolbar-search" method="get">
  <div class="field has-addons">
    <div class="control has-icons-left">
      <input class="input" type="search" placeholder="{{.Placeholder}}"
             value="{{.Query}}" autocomplete="off" spellcheck="false">
      <span class="icon is-left is-small">{{icon "search"}}</span>
    </div>
    <div class="control">
      <button class="button" type="submit">Найти</button>
    </div>
  </div>
</form>
{{end}}

{{define "toolbar_list"}}
<div class="level mb-0">
  <div class="level-left">
    <div class="level-item toolbar-actions">
      {{template "toolbar_actions" .Toolbar}}
    </div>
  </div>
  <div class="level-right">
    <div class="level-item toolbar-search">
      {{template "toolbar_search_inline" .Search}}
    </div>
  </div>
</div>
{{end}}
