{{define "content"}}
<div class="list-header">
	<h1>{{.Title}}</h1>
	<div class="toolbar">
		<a href="/organizations/{{.OrganizationID}}/customers/00000000-0000-0000-0000-000000000000" role="button">Добавить</a>
	</div>
</div>

<div class="list-table">
	<table>
		<thead>
			<tr>
				<th scope="col">Наименование</th>
				{{if .ShowOrganization}}
				<th scope="col">Организация</th>
				{{end}}
				<th scope="col">Статус</th>
				<th scope="col" class="col-actions"></th>
			</tr>
		</thead>
		<tbody>
			{{range .Customers}}
			<tr>
				<td>{{.Name}}</td>
				{{if $.ShowOrganization}}
				<td>{{.OrganizationName}}</td>
				{{end}}
				<td>{{if .Active}}Активен{{else}}Неактивен{{end}}</td>
				<td class="col-actions"><a href="/organizations/{{.OrganizationID}}/customers/{{.ID}}">Открыть</a></td>
			</tr>
			{{else}}
			<tr>
				<td colspan="4">Нет контрагентов</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}