{{define "content"}}
<div class="list-header">
	<h1>{{.Title}}</h1>
	<div class="toolbar">
		<a href="/organizations/00000000-0000-0000-0000-000000000000" role="button">Добавить</a>
	</div>
</div>

<div class="list-table">
	<table>
		<thead>
			<tr>
				<th scope="col">Наименование</th>
				<th scope="col">Статус</th>
				<th scope="col" class="col-actions"></th>
			</tr>
		</thead>
		<tbody>
			{{range .Orgs}}
			<tr>
				<td>{{.Name}}</td>
				<td>{{if .Active}}Активен{{else}}Неактивен{{end}}</td>
				<td class="col-actions"><a href="/organizations/{{.UUID}}">Изменить</a></td>
			</tr>
			{{else}}
			<tr>
				<td colspan="3">Нет организаций</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
{{end}}
